build:
    tests:
        override:
            -
                command: './run-tests'
                coverage:
                    file: '.coverage'
                    config: '.coveragerc'
                    format: 'py-cc'